@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mb-5 text-3xl font-bold;
  }
  h2 {
    @apply mb-4 text-2xl font-bold;
  }
  h3 {
    @apply mb-3 text-lg font-bold;
  }

  .appContaier {
    @apply mx-auto max-w-screen-xl px-4;
  }

  .imagesSidebar {
    @apply flex flex-col gap-4 overflow-hidden rounded-md border border-accent shadow-md shadow-accent;
  }
}

@layer utilities {
  .voteBad {
    @apply text-error;
  }

  .voteOk {
    @apply text-warning;
  }

  .voteGood {
    @apply text-success;
  }
}

#siteWrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  position: relative;
}

html,
body {
  scroll-behavior: smooth;
}
